:root {
    --blueColor: #2473E4;
    --orangeColor: #E6993A;
    --greenColor: #849658;
    --blackColor: #000000;
    --whiteColor: #FFFFFF;
    --background-color: #212121;
    --white-text-color: #FFFFFF;

    --playfair-font: 'Playfair', serif;
    --montserrat-font: 'Montserrat', sans-serif;
}